@font-face {
    font-family: 'Nunito Regular';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),url('../fonts/Nunito-Regular1.woff2'),'../fonts/Nunito-Regular2.woff2';
    font-weight: normal;
    font-style: normal;

}
